:host-context(.-theme-with-dark-background) {
  .value.object-value-node:hover{background-color:rgba(38, 103, 199, 0.1) !important;}
  .object-value-function-prefix, .object-value-boolean{color: lighten($keyword-color, 5%) !important;}
  .object-value-function.linkified:hover{background-color:rgba(255, 255, 255, 0.1) !important;}
  .object-value-number{color:lighten($number-color, 5%) !important;}
  .object-value-bigint{color:rgb(158, 255, 158) !important;}
  .object-value-string, .object-value-regexp, .object-value-symbol{color:lighten($string-color, 5%) !important;}
  .object-value-node{color:rgb(189, 198, 207) !important;}
  .object-value-null, .object-value-undefined{color:rgb(127, 127, 127) !important;}
  .object-properties-section .object-description{color:rgb(127, 127, 127) !important;}
  .name{color: lighten(#EEFFE3, 5%) !important;}
  .object-properties-preview .name{color:rgb(169, 169, 169) !important;}
}

.-theme-with-dark-background {
  .object-value-number, .object-value-number.source-code{color:lighten($number-color, 5%) !important;}
  .object-value-string, .object-value-string.source-code, .object-value-string-quote{color:lighten($string-color, 5%) !important;}
  .name.source-code{color: lighten(#EEFFE3, 5%) !important;}
  #console-prompt .console-prompt-icon {filter: hue-rotate(-320deg) brightness(130%) contrast(80%) !important;}
}

.toolbar-input {
  background: transparent !important;
}

.console-main-toolbar {
  height: 32px !important;
}

[aria-label="Show console sidebar"] .spritesheet-largeicons.icon-mask, 
[aria-label="Clear console"] .spritesheet-largeicons.icon-mask,
[aria-label="Create live expression"] .spritesheet-largeicons.icon-mask,
[aria-label="Console settings"] .spritesheet-largeicons.icon-mask {
  margin-top: 3px !important;
}

.toolbar-shadow .toolbar-has-dropdown {
  margin-top: 3px !important;
} 

.toolbar-shadow .toolbar-input {
  margin-top: 3px !important;
}

.message-level-icon, .command-result-icon {
  top: 4px !important;
}

.console-user-command-result .command-result-icon {
  top: 0 !important;
  bottom: 0;
  margin: auto;
}

.console-message-wrapper {
  padding: 2px 0 !important;
}

div.error {
  background-color: $red !important;
  color: white;
}

.console-message-repeat-count {
  margin-top: 4px !important;
}

.object-properties-section li {
  padding: 5px 6px !important;
  margin-left: -6px !important;
}

.object-properties-section li .name {
  color: $blue !important;
}

.tree-outline li::before {
  background-color: $text-color-light !important;
  margin-right: 3px !important;
}

.tree-outline li:not(.parent)::before {
  background-color: transparent !important;
}

.object-description,
:host-context(.-theme-with-dark-background) .object-properties-section .object-description {
  color: $yellow !important;
}
